.section {
    display: flex;
    min-height: 1px;
    flex-direction: column;
    height: 100%;
    background: white;
}

.section__title {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

.section__holder {
    flex: 1;
    overflow: auto;
}
